<h1>All References</h1>

<div id="references">
  <% @references.each do |reference| %>
    <div class="reference">
      <h3><%= reference.entry_type %></h3>
      <% reference.entries.each do |key, value| %>
        <% if value.present? %>
          <div class="entry">
            <span class="key"><%= key.capitalize %></span>
            <span class="key"><%= value %></span>
          </div>
        <% end %>
      <% end %>
      <div class="actions">
        <%= link_to 'Show', reference %> |
        <%= link_to 'Edit', edit_reference_path(reference) %> |
        <%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Export', download_reference_path(reference) %>
      </div>
    </div>
  <% end %>
</div>

